@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "montserrat", serif;
  font-optical-sizing: auto;

  color: rgba(255, 255, 255);
  background-color: #242424;
}

.home {
  position: relative;
}

.home_container {
  position: relative;
  height: 85vh;
}

.home_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("public/images/home2.jpg");
  background-size: cover;
  opacity: 0.3;
}

.home_section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}





